<!-- Section-->
<h2>View All Products</h2>
<div class="row">
    <div class="col-lg-4 col-md-6 md-4" *ngFor="let product of productList">
        <!--Card body-->
        <div class="card h-100">
          <!-- Product image-->

          <a routerLink="product/{{ product.id }}">
            <img class="card-img-top" src="https://images.pexels.com/photos/302743/pexels-photo-302743.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" width="260"/></a>
          <!-- Product details-->
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="product/{{ product.id }}">{{ product.productName }}</a>
            </h4>
            <!-- Product price-->
            <h5>R {{product.price}}</h5>
            <p class="card-text"> {{ product.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"> {{ product.rating }}</small>
          </div>
        </div>
    </div>
  </div>

