<form >
  <div class="row">
    <div class="col">
      <label for="validationServer01">Product Name</label>
      <input type="text" class="form-control" placeholder="Product Name" required name="product_name" ngModel>
    </div>
    <div class="col">
      <label for="validationServer02">Category ID</label>
      <input type="text" class="form-control" placeholder="Category" required name="product_category" ngModel>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="validationServer03">Description</label>
         <input type="text" class="form-control" placeholder="Description" required name="description_name">
    </div>
    <div class="col">
      <label for="validationServer04">Description</label>
      <select class="form-control" id="FormControlRateSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="validationServer05">Description</label>

      <select class="form-control" id="FormControlSelect1" required name="description_name" ngModel>
        <option>yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="col">
      Price
      <input type="text" class="form-control" placeholder="price" required name="price_name" ngModel>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="validationServer06">Reviews</label>
      <input type="text" class="form-control" placeholder="Reviews" required name="reviews_name" ngModel>
    </div>

  </div>
  <div class="row">
    <label class="custom-file-label" for="customFile" required name="image_name" ngModel>Choose image file</label>
    <input type="file" class="custom-imagefile-input" id="customFile">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>

</form>
